body{
	font-family: Arial, San-serif;
}

nav{
	width: 100%;
	height: 60px;
	background: #344051;
}

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 288px;
	float: left;
}

.menu{
	float: left;
	padding-left: 155px;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 16px;
	text-transform: uppercase;
}

.main{
	width: 100%;
	height: 100%;
	background: url(../img/boy.png) 90% 100%/auto 80% no-repeat, url(../img/bg.png) center/cover no-repeat;

}

.title_container{
	float: left;
	margin: 232px 0px 0px 204px;
	color: #2c384a;
	text-align: center;
}

.title_container h1{
	font-size: 60px;
	font-weight: bold;
}

.title_container h4{
	margin-top: 30px;
	font-size: 22px;
	color: #79818d
}

.title_container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 50px 14px 0px 14px;
}

.about_me{	
	width: 100%;
	height: 100%;
	background: url(../img/bg2.png) 90% 100%/auto 80% no-repeat;
	box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.2);
}

.about_me h2{
	font-size: 30px;
	font-family: "Franklin Gothic Medium";
	font-weight: bold;
	color: #2c384a;
	text-align: center;
	padding-top: 80px;
	text-transform: uppercase;
}

.about_me{
	width: 100%;
	height: 100%;
	background: url(../img/line.png) 50% 140px/auto 0.9% no-repeat,url(../img/boy2.png) 50% 50%/auto 30% no-repeat;
}

.about_me_p{
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: left;
	padding-top: 325px;
	padding-left: 20%
	
}

.about_me_p2{
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: left;
	padding-top: 35px;
	padding-left: 20%;
}

.about_me input{
	height: 30px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 10px;
	padding-left: 2%;
	margin: 40px 620px;
	background: url(../img/bg3.png) 5% 50%/auto 50% no-repeat;
}

.skils{
	width: 100%;
	height: 100%;
	margin: 100px 0px 0px 0px;
	background: url(../img/line.png) 50% 140px/auto 0.9% no-repeat,
	url(../img/pc.png) 200px 50%/auto 7% no-repeat,
	url(../img/cc.png) 500px 50%/auto 7% no-repeat,
	url(../img/roket.png) 800px 50%/auto 7% no-repeat,
	url(../img/fone.png) 1100px 50%/auto 7% no-repeat,
	url(../img/bg4.png) 100% 50%/auto 100% no-repeat;
}

.skils h2{
	font-family: "Franklin Gothic Medium";
	font-size: 30px;
	font-weight: bold;
	color: #2c384a;
	text-align: center;
	padding-top: 80px;
	text-transform: uppercase;
}

.skils_logo{
	font-family: Bahnschrift;
	font-size: 16px;
	font-weight: semibold;
	color: #cf7600;
	padding-top: 250px;
	padding-left: 190px;
	display: inline-block;
}

.skils_logo2{
	font-family: Bahnschrift;
	font-size: 16px;
	font-weight: semibold;
	color: #cf7600;
	padding-top: 250px;
	padding-left: 223px;
	display: inline-block;
}

.skils_logo3{
	font-family: Bahnschrift;
	font-size: 16px;
	font-weight: semibold;
	color: #cf7600;
	padding-top: 250px;
	padding-left: 190px;
	display: inline-block;
}

.skils_logo4{
	font-family: Bahnschrift;
	font-size: 16px;
	font-weight: semibold;
	color: #cf7600;
	padding-top: 250px;
	padding-left: 200px;
	display: inline-block;
}

.span{
	display: inline-block;
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: center;
	padding-top: 30px;
	padding-left: 100px;
}

.span2{
	display: inline-block;
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: center;
	padding-top: 30px;
	padding-left: 30px;
}

.span3{
	display: inline-block;
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: center;
	padding-top: 30px;
	padding-left: 30px;
}

.span4{
	display: inline-block;
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: center;
	padding-top: 30px;
	padding-left: 30px;
}

.keys{
    width: 100%;
	height: 260px;
	background: url(../img/line.png) 50% 140px/auto 2% no-repeat,
	url(../img/bg5.png) 100% 100%/auto 100% no-repeat;
}

.keys h2{
	font-family: "Franklin Gothic Medium";
	font-size: 30px;
	font-weight: bold;
	color: #2c384a;
	text-align: center;
	padding-top: 80px;
	text-transform: uppercase;
}

.keys span{
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: center;
	padding-top: 90px;
	padding-left: 250px;
	display: inline-block;
}

.screen{
    width: 100%;
	height: 100%;
	background: url(../img/screen.png) -35px 100%/auto 100% no-repeat;
}

.text{
	display: inline-block;
	font-family: Franklin Gothic Medium;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: left;
	padding-top: 470px;
	padding-left: 250px;
	line-height: 1.5;
}

.text2{
	display: inline-block;
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: left;
	padding-left: 30px;
}

.text span{
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
}

.text p{
	font-family: calibri;
	font-size: 18px;
}

.text2 p{
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 18px;
}

.visit input{
	height: 40px;
	width: 150px;
	font-family: "Franklin Gothic Medium";
	text-align: center;
	background: #63b5ae;
	border-radius: 5px;
	color: #fff;
	font-size: 13px;
	margin: 0px 250px;
}

.sale h2{
    font-family: "Franklin Gothic Medium";
    font-size: 30px;
    font-weight: bold;
	color: #2c384a;
	text-align: center;
	padding-top: 200px;
}

.sale p{
    font-family: "Franklin Gothic Medium";
    font-size: 25px;
    font-weight: medium;
	color: #2c384a;
	text-align: left;
	padding-top: 50px;
	text-transform: uppercase;
	margin: 0px 400px;
	line-height: 1.5;
}

.sale select{
	height: 50px;
	width: 600px;
	font-family: "Franklin Gothic Medium";
	text-align: left;
	background: #eeeeee;
	color: #737373;
	font-size: 13px;
	margin: 0px 400px;
}

.lr{
	width: 74%;
	height: 50px;
	background: url(../img/lr.png) 400px 40px/auto 2px no-repeat;
}

.result{
	display: inline-block;
	font-family: Franklin Gothic Medium;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: left;
	padding-top: 30px;
	padding-left: 400px;
	line-height: 1.7;
}

.result2{
	display: inline-block;
	font-family: Franklin Gothic Medium;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: left;
	padding-left: 510px;
	line-height: 1.7;
}

.stat{
	width: 100%;
	height: 500px;
	margin: 100px 0px 0px 0px;
	background: url(../img/line.png) 50% 140px/auto 0.9% no-repeat,
	url(../img/smail.png) 400px 50%/auto 7% no-repeat,
	url(../img/cc2.png) 600px 50%/auto 7% no-repeat,
	url(../img/v.png) 800px 50%/auto 7% no-repeat,
	url(../img/champ.png) 1000px 50%/auto 7% no-repeat,
	url(../img/bg6.png) 100% 50%/auto 100% no-repeat;
}

.stat h2{
	font-family: "Franklin Gothic Medium";
	font-size: 30px;
	font-weight: bold;
	color: #2c384a;
	text-align: center;
	padding-top: 80px;
	text-transform: uppercase;
}

.stat1{
	display: inline-block;
	font-family: Impact;
	font-size: 37.5px;
	font-weight: medium;
	color: #2c384a;
	text-align: center;
	padding-top: 200px;
	padding-left: 350px;
}

.stat2{
	display: inline-block;
	font-family: Impact;
	font-size: 37.5px;
	font-weight: medium;
	color: #2c384a;
	text-align: center;
	padding-top: 200px;
	padding-left: 100px;
}

.stat3{
	display: inline-block;
	font-family: Impact;
	font-size: 37.5px;
	font-weight: medium;
	color: #2c384a;
	text-align: center;
	padding-top: 200px;
	padding-left: 80px;
}

.stat4{
	display: inline-block;
	font-family: Impact;
	font-size: 37.5px;
	font-weight: medium;
	color: #2c384a;
	text-align: center;
	padding-top: 200px;
	padding-left: 85px;
}

.stat span{
	font-family: Franklin Gothic Medium;
	font-size: 12px;
	font-weight: normal;
}

.tell{
	width: 100%;
	height: 100%;
	background: url(../img/line.png) 50% 140px/auto 0.9% no-repeat,url(../img/men.png) 50% 50%/auto 25% no-repeat,
	url(../img/bg7.png) 100% 50%/auto 100% no-repeat;
}

.tell h2{
	font-family: "Franklin Gothic Medium";
	font-size: 30px;
	font-weight: bold;
	color: #2c384a;
	text-align: center;
	padding-top: 80px;
	text-transform: uppercase;
}

.tell p{
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: center;
	padding-top: 30px;
}

.tell span{
	display: inline-block;
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #2c384a;
	text-align: center;
	padding-top: 325px;
	padding-left: 15%;
}

.contact{
	width: 100%;
	height: 570px;
	background: url(../img/line.png) 50% 140px/auto 0.9% no-repeat,
	url(../img/geo.png) 400px 40%/auto 4% no-repeat,
	url(../img/mail.png) 650px 40%/auto 4% no-repeat,
	url(../img/tel.png) 900px 40%/auto 4% no-repeat,
	url(../img/bg8.png) 100% 100%/auto 100% no-repeat;
}

.contact h2{
	font-family: "Franklin Gothic Medium";
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding-top: 90px;
	text-transform: uppercase;
}

.contact p{
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #fff;
	text-align: center;
	padding-top: 50px;
}

.geo{
	display: inline-block;
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #fff;
	text-align: center;
	padding-top: 60px;
	padding-left: 340px;
}

.mail{
	display: inline-block;
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #fff;
	text-align: center;
	padding-top: 60px;
	padding-left: 105px;
}

.tel{
	display: inline-block;
	font-family: Lorem_ipsum_dolor_sit_amet__consectetur_adipisc;
	font-size: 16px;
	font-weight: medium;
	color: #fff;
	text-align: center;
	padding-top: 60px;
	padding-left: 100px;
}

.contact h3{
	font-family: "Franklin Gothic Medium";
	font-size: 20px;
	font-weight: medium;
	color: #fff;
	text-align: center;
	padding-top: 30px;
	text-transform: uppercase;
}

.sale select{
	height: 50px;
	width: 600px;
	font-family: "Franklin Gothic Medium";
	text-align: left;
	background: #eeeeee;
	color: #737373;
	font-size: 13px;
	margin: 0px 400px;
}

.nick input{
	height: 35px;
	width: 350px;
	font-family: "Franklin Gothic Medium";
	text-align: left;
	background: #eeeeee;
	color: #737373;
	font-size: 13px;
	margin: 10px 5px 0px 320px;
	float: left;
	padding-left: 10px;
}

.email input{
	height: 35px;
	width: 350px;
	font-family: "Franklin Gothic Medium";
	text-align: left;
	background: #eeeeee;
	color: #737373;
	font-size: 13px;
	margin: 10px 10px;
	padding-left: 10px;
}

.contact textarea{
	height: 50px;
	width: 716px;
	font-family: "Franklin Gothic Medium";
	text-align: left;
	background: #eeeeee;
	color: #737373;
	font-size: 13px;
	margin: 5px 5px 0px 320px;
	padding-left: 10px;
}

.reset input{
	height: 30px;
	width: 100px;
	font-family: "Franklin Gothic Medium";
	text-align: center;
	border: 2px solid #fff;
	background: none;
	border-radius: 5px;
	color: #fff;
	font-size: 13px;
	margin: 10px 0px 0px 630px;
}